.wrapper
{
    overflow: hidden;
    width: 100%;
    margin: 0 auto;
    max-width: 700px;
    min-width: 320px;
    padding: 0rem 0 1rem;
}
.headContainer
{
    background-color: #64e9e6;
}
.avatar
{
    margin-top: 3%;
    margin-bottom: 1%;
}
.nickname
{
    text-align: center;
    color: #000;
    font-size: 24px;
}
.userid
{
    text-align: center;
    color: #000;
    font-size: 20px;
    margin-bottom: 3%;
}
.middlecontainer
{
    margin: 0 auto;
    float: left;
    width: 50%;
    height: auto;
    text-align: center;
    vertical-align: middle;
    padding: 5%;
}
.middletext
{
    color: #000;
    font-size: 20px;
}
.middleicon
{
    color: #42c5fb;
    font-size: 40px;
}

.editTitle
{
    margin: 0;
}
.sizeButtonContainer
{
    width:100%;
    text-align: center;
    margin: 0 auto;
    padding:3%;
    font-size: 20px;
}
.editTextInput
{
    width: 90%;
    height: 100px;
    resize: none;
}

.sizeButton
{
    font: inherit;
    font-size: 30px;

    display: inline-block;
    overflow: visible;

    width: 40px;
    height: 40px;
    margin: 0;
    padding: 0px 0;

    cursor: pointer;
    text-align: center;
    vertical-align: middle;
    text-decoration: none;

    border: 0;
    outline: 0;
}
.sizeButton
{

}
.sizeButton:hover
{

}
