.nav{
    width: 100%;
    height: 60px;
    background-color: #000;
}
.nav-logo{
    display: inline-block;
    width: 120px;
    height: 60px;
    padding: 0 40px 0 30px;
    background: url("../img/logo.png") no-repeat center;
    vertical-align: top;
}
.nav-list{
    display: inline-block;
    height: 60px;
    color: #fff;
    text-align: center;
}
.nav-list li{
    display: inline-block;
    width: 80px;
    height: 60px;
    line-height: 60px;
    vertical-align: top;
    cursor: pointer;
    transition: background-color 0.2s linear;
}
.nav-list li.active{
    background-color: #363c41;
}
.nav-list li:hover{
    background-color: #363c41;
}
.nav-btn{
    height: 60px;
    margin-left: 20px;
    color: #757a7e;
    text-align: center;
}
.nav-btn li{
    display: inline-block;
    width: 60px;
    height: 60px;
    line-height: 60px;
    font-size: 14px;
    cursor: pointer;
    vertical-align: top;
    transition: background-color 0.2s linear,color 0.2s linear;
}
.nav-btn li:hover{
    color: #fff;
    background-color: #363c41;
}
.nav-btn li:first-child:hover{
    background-color: #000;
}
.nav-btn li:last-child:hover{
    background-color: #000;
}
.avatar{
    display: inline-block;
    width: 30px;
    height: 30px;
    border: solid 2px #757a7e;
    border-radius: 50%;
    background: url("../../../img/avatar.jpg") no-repeat center;
    background-size: contain ;
    vertical-align: middle;
    transition: border-color 0.2s linear;
}
.avatar:hover{
    border-color: #f12310;
}
.avatar span{
    position: absolute;
    display: inline-block;
    width: 4px;
    height: 4px;
    margin: -2px 0 0 14px;
    background-color: #f12310;
    border:solid 2px #fff;
    border-radius: 50%;
}
.header-title{
    height: 60px;
    line-height: 60px;
    border-bottom: solid 1px #d0d6d9;
}
.header-title h1{
    font-size: 18px;
}
.for-teacher{
    position: absolute;
    display: inline-block;
    width: 89px;
    height: 20px;
    margin: 20px 0 0 -89px;
    background: url("../img/for_teacher.png") no-repeat center;
    transition: margin-left 0.3s linear;
}
.for-teacher:hover{
    margin-left: -79px;
}
.category{
    font-size: 12px;
}
.category>div{
    padding-top: 20px;
    border-bottom: solid 1px #edf1f2;
}
.category>div:last-child{
    border-color: #d0d6d9;
}
.category span{
    display: inline-block;
    float: left;
    width: 40px;
    height: 20px;
    margin: 0 0 20px 20px;
    color: #787d82;
}
.category ul{
    margin-left: 60px;
}
.category li{
    display: inline-block;
    height: 20px;
    padding: 0 6px;
    margin: 0 13px 20px 13px;
    line-height: 20px;
    cursor: pointer;
    transition: color 0.2s linear;
}
.category li.active{
    color: #fff;
    background: #f01400;
}
.category li:hover{
    color: #cc0000;
}.category li:hover.active{
     color: #fff;
 }
 .course-order{
     height: 40px;
     line-height: 40px;
     font-size: 12px;
     color: #787d82;
     background-color: #f9f9f9;
 }
 .course-order li{
     display: inline-block;
     margin: 0 20px 0 20px;
     cursor: pointer;
 }
 .course-order li.active {
     color: #000;
 }
 .hide-course{
     padding: 0 20px 0 50px;
     cursor: pointer;
 }
 .hide-course:hover{
     color: #f01400;
 }
 .hide-course:before{
     content: "";
     position: absolute;
     display: inline-block;
     width: 30px;
     height: 30px;
     margin: 5px 0 0 -30px;
     background: url("../img/dot_checkbox.png") no-repeat 0 0;
 }
 .current-page{
     color: #f01400;
 }
 .order-pager{
     margin-right: 25px;
     line-height: 40px;
 }
 .order-pager a{
     display: inline-block;
     width: 18px;
     height: 18px;
     margin: 0 0 0 10px;
     border: solid 1px #dcdfe2;
     background: url("../img/pager_sprite.png") no-repeat center;
     vertical-align: middle;
     transition: border-color 0.2s linear;
 }
 .order-pager a.active{
     border-color: #c8cdd2;
     cursor: pointer;
 }
.order-pager a.active:hover{
    border-color: #000;
}
.previous{
    background-position: 6px 4px !important;
}
.next{
    background-position: 6px -14px !important;
}
.previous:hover{
    background-position: -12px 4px !important;
}
.next:hover{
    background-position: -12px -14px !important;
}
.course-list{
    width: 100%;
    margin: 10px 0;
    text-align: justify;
}
.course-list .empty{
    margin: 0;
}
.course-list li{
    display: inline-block;
    width: 240px;
    margin: 20px 0 30px;
    box-shadow: 0 0 0 20px rgba(255,255,255,1);
    font-size: 12px;
    transition: box-shadow 0.3s;
}
.course-list li:hover{
    box-shadow: 0 0 0 20px rgba(255,255,255,1), 0 4px 8px 20px rgba(0,0,0,0.2);
}
.course-list a{
    display: inline-block;
    width: 100%;
}
.course-img{
    position: relative;
    font-size: 0;
}
.course-img>span{
    position: absolute;
    top: 5px;
    right: -10px;
    display: inline-block;
    padding: 2px;
    margin: 0;
    color: #fff;
    font-size: 12px;
    background-color: rgba(0,0,0,0.5);
    opacity: 0;
    transition: right 0.3s,opacity 0.3s;
}
.course-list a:hover .course-img>span{
    right: 5px;
    opacity: 1;
}
.course-name{
    margin-top: 20px;
    font-weight: 700;
    font-size: 14px;
}
.course-summary{
    margin-top: 8px;
    color: #ccc;
}
.course-info{
    margin-top: 8px;
    color: #787d82;
}
.course-info span:first-child{
    margin-right: 20px;
}
.pagination{
    height: 31px;
    text-align: center;
}
.pagination li{
    display: inline-block;
    height: 30px;
    margin-right: 7px;
    line-height: 30px;
    font-size: 12px;
    cursor: pointer;

}
.pagination li:not(.active):not(.disabled):hover{
    color: #ec1500;
    border-bottom: 1px solid #ec1500;
}
.pagination .disabled{
    color: #ccc;
    cursor: default;
}
.pagination .page-number{
    width: 30px;
}
.page-number.active{
    background-color: #ec1500;
    color: #fff;
}
.footer-nav{
    height: 100px;
    margin-top: 45px;
    background-color: #000;
}
.links{
    margin: 30px 0 0 30px;
    color: #ccc;
    font-size: 12px;
}
.links li{
    display: inline-block;
    margin-right: 15px;
    cursor: pointer;
}
.links li:hover{
    color: #fff;
}
.copy-right{
    margin: 15px 0 0 30px;
    color: #787d82;
    font-size: 12px;
}
.share{
    margin-top: 30px;
}
.share li{
    display: inline-block;
    width: 32px;
    height: 32px;
    margin-left: 12px;
    background: url(../img/footer-sprite.png) no-repeat;
    cursor: pointer;
    opacity: 0.8;
}
.share li:hover{
    opacity: 1;
}
.weixin{
    background-position: 0 -279px !important;
}
.weibo{
    background-position: 0 -321px !important;
}
.qq{
    background-position: 0 -363px !important;
}
.weixin div{
    display: none;
    position: absolute;
    width: 170px;
    height: 213px;
    margin: -223px 0 0 -70px;
    background: url(../img/footer-sprite.png) no-repeat 0 0;
}
.weixin:hover div{
    display: block;
}