.diyObject{
    position: absolute;
    -webkit-transform-origin: 0 0;
    -webkit-mask-repeat: no-repeat;
    transform-origin: 0 0;
    mask-repeat: no-repeat;
}
.bitmap{
    width: auto;
    height: auto;
}
.stage{
    position: absolute;
    overflow: hidden;
}
.overFlowHidden{
    overflow: hidden;
}
.shadow{
    box-shadow: 0 0 10px rgba(0, 0, 0, 1);
}
.diyEditor{
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
}
.diyContainer {
    position: relative;
    width: 100%;
}